ul li a img {
  border: 2px solid gray;
	width: 100%;
	/*display: inline-block;*/
	/*float: center;*/


}

a{
	text-decoration: none;
	color: black;

}

a:hover{
	text-decoration: none;
	color: black;


}

ul {
	list-style: none;

}

span {
	color: gray;
	margin-top: -30px;
}




.octocat {
	/*background-color: blue;*/
	display: inline-block;
	width: 30%;
	padding: 0 10px;



}

.image2 {

	width: 10%;
	float: right;
	margin-top: -30px;
display: block;

}

.image3 {
  width: 0;
height: 0;
border-style: solid;
border-width: 9px 7px 0 5px;
border-color: #5b5c5e transparent transparent transparent;
line-height: 0px;
_border-color: #5b5c5e #000000 #000000 #000000;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
float: right;
position: relative;
bottom:4px;
left:-3px;
}

.image {
	width: 0;
height: 0;
border-style: solid;
border-width: 10px 7.5px 0 7.5px;
border-color: #858585 transparent transparent transparent;
float: right;

}

.image-number {
	display: inline-block;
}

.image-caption {
	display: inline-block;
}
.image-footer > span, .image-footer > div {
	display:inline-block;
}
